<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Labolatory Application</title>
        <link rel="stylesheet" href="../styles.css"/>
        <script src="../script.js" defer="defer"></script>
		<script src="add_worker.js"></script>
        <script type="module" src="worker_view.js" defer="defer"></script>
    </head>
    <body>
        <div class="container">
            <header class="header">
                <h1>Labolatory Application</h1>
            </header>

            <nav class="navigation-bar">
                <ul>
                    <li><a href="../index.html">main</a></li>
                </ul>
            </nav>

            <section class="main-section">
                <article class="text--justified">
                    <header><h2>Companies</h2></header>
                    <table class="data-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Age</th>
								<th>Company</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="name">Name</td>
								<td id="age">Age</td>
                                <td id="company">Company</td>
                            </tr>
                        </tbody>
                </article>
            </section>
        </div>
    </body>
</html>
